* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #e3e3e3;
  color: #fff;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  transition: all 0.5s ease;
  color: #000;
}
